<footer>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="about">About Me</a></li>
		<li><a href="project">My Project</a></li>
		<li><a href="contact">Contact Me</a></li>
		<li><a href=""><img src="images/facebook.png"></a></li>
		<li><a href=""><img src="images/instagram.png"></a></li>
		<li><a href=""><img src="images/whatsapp.png"></a></li>
		
	</ul>

</footer>