<div class="header">
<img src="images/a.png" style="width:50px;float:left">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="about">About Me</a></li>
		<li><a href="project">My Project</a></li>
		<li><a href="contact">Contact Me</a></li>
	</ul>
</div>