{{> header }}
<div class="main">
<h1>Welcome to the about Portfolio</h1>
<p>
I am a website designer and developer.i have knowledge of front and backend.Programming is my passion.i have knowledge of html,html5, css, javascript, node js, handlebars template, express js,c and c++ programing languages. i have worked on many websites from these projects i have learnt many new technique like how to work on ecommerce website, online stores, static website, dynamic website and online web application.
</p>
<p>
From that time coding is like adventure for me. My goodness from school i have best teacher and that is way till now i am learn many computer languages and still learning every day new things.
</p>
<div class="personal"><h3>Personal Interests -:</h3>
<ul> 
	<li>Programing</li> <li>criket</li> <li>Coffee</li> <li>movies</li><li>new technology</li>
</ul>
</div>
</div>
{{> footer }}