{{> header }}
<div class="main">
<h1>Welcome to the Amarjeet Singh Portfolio</h1>
<p>
I am a website designer and developer.i have knowledge of front and backend.Programming is my passion.i have knowledge of html,html5, css, javascript, node js, handlebars template, express js,c and c++ programing languages. i have worked on many websites from these projects i have learnt many new technique like how to work on ecommerce website, online stores, static website, dynamic website and online web application.
</p>
<p>
From that time coding is like adventure for me. My goodness from school i have best teacher and that is way till now i am learn many computer languages and still learning every day new things.
</p>
<div class="personal"><h3>Personal Interests -:</h3>
<ul> 
	<li>Programing</li> <li>criket</li> <li>Coffee</li> <li>movies</li><li>new technology</li>
</ul>
</ul>
</div>
<h1>About My Projects </h1>

<div class="row">
<table>
<tr>
<td class="col">
	
		<img class="col-img" src="images/store.jpg">
		
</td>
<td style="vertical-align: baseline;">
		
		<h2>Online Shopping store </h2>
		<p>
		<b>Online shopping store:-</b> User can buyShop Electronics, Mobile, Men & Women Clothing, Shoes, Home & Kitchen;
		</p>
		<p>
		<b>Technology:-</b>Node js, express js, mongodb, html, css, javascript
		</p>
	
</td>	
</tr>	
</table>
</div>

<div class="row">
<table>
<tr>
<td class="col">
	
		<img class="col-img" src="images/bu.jpg">
		
</td>
<td style="vertical-align: baseline;">
		
		<h2>Bubble Shooter Game </h2>
		<p>
		Bubble Shooter game is web base game. Bubble Shooter is an addictive bubble popping game with hundreds of puzzle levels and fun challenges.

		</p>
		<p>
		<b>Technology:-</b>html, css, javascript,photoshop
		</p>
	
</td>	
</tr>	
</table>
</div>
<div class="row" style="text-align:center;height:100px;">
<span  style="text-align:center;padding: 10px;
    background: #063344;
    color: white;"><a href="project">Show More</a></span>
</div>

</div>
{{> footer }}