{{> header }}
<div class="main">
<h1>About My Projects </h1>
<p>
I have worked on  web base applications.
</p>
<div class="row">
<table>
<tr>
<td class="col">
	
		<img class="col-img" src="images/store.jpg">
		
</td>
<td style="vertical-align: baseline;">
		
		<h2>Online Shopping store </h2>
		<p>
		<b>Online shopping store:-</b> User can buyShop Electronics, Mobile, Men & Women Clothing, Shoes, Home & Kitchen;
		</p>
		<p>
		<b>Technology:-</b>Node js, express js, mongodb, html, css, javascript
		</p>
	
</td>	
</tr>	
</table>
</div>

<div class="row">
<table>
<tr>
<td class="col">
	
		<img class="col-img" src="images/bu.jpg">
		
</td>
<td style="vertical-align: baseline;">
		
		<h2>Bubble Shooter Game </h2>
		<p>
		Bubble Shooter game is web base game. Bubble Shooter is an addictive bubble popping game with hundreds of puzzle levels and fun challenges.

		</p>
		<p>
		<b>Technology:-</b>html, css, javascript,photoshop
		</p>
	
</td>	
</tr>	
</table>
</div>
<div class="row">
<table>
<tr>
<td class="col">
	
		<img class="col-img" src="images/school.jpg">
		
</td>
<td style="vertical-align: baseline;">
		
		<h2>School Management System</h2>
		<p>
		School management software is a tool that is specifically designed to streamline the paperless administration of schools and educational institutions. It consists of various modules that greatly help the teachers and staff in maintaining student records, academic history, and other essential student information.
		</p>
		<p>
		<b>Technology:-</b>html, css, javascript,bootstrap, php, mysql.
		</p>
	
</td>	
</tr>	
</table>
</div>
<div class="row">
<table>
<tr>
<td class="col">
	
		<img class="col-img" src="images/admin.png" style="height: 200px;">
		
</td>
<td style="vertical-align: baseline;">
		
		<h2>Admin Panel</h2>
		<p>
		Admin Panel is backend application where clients update front end website data and manage website data. manage all user data and other records and other posts.

		</p>
		<p>
		<b>Technology:-</b>html, css, javascript,bootstrap, nodejs, exepress js, mongodb.
		</p>
	
</td>	
</tr>	
</table>
</div>
</div>
{{> footer }}